<document>
<descriptiveAlertTemplate id="template-data" data-template="Info">
        <title>Informácie</title>
        <description>
            Jednoduchý prehrávač rádií RTVS (C) zemiak, pozri https://github.com/zemiak/slovakradio
            Licencia BSD. Artwork (C) RTVS, SITA.
            Verzia {{version}}
            Verzia dát {{dataVersion.version}}: {{dataVersion.motd}}
        </description>

        <row>
        <button action="Presenter.navigateReplace('Main')">
            <text>Naspäť</text>
        </button>
        </row>
    </descriptiveAlertTemplate>
</document>
